.container {
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
  min-height: 100vh;
  padding-top: 80px;
  align-items: center;
  grid-template-rows: auto auto 1fr;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  grid-area: header;
}

.relativeLogo {
  width: 150px;
  height: 130px;
  position: relative;
}

.main {
  width: 100%;
  height: calc(100dvh - 80px);
  background-color: #E5DBCF;
}

.header,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
  justify-self: center;
}

.nav {
  width: 100%;
  display: flex;
  min-height: 130px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
}

.link:hover {
  text-decoration: underline;
}

.link {
  color: #704cb6;
}

.link.active {
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-float infinite 3s ease-in-out;
  }
}

@keyframes logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}